{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_menu.html' %}

    <section class="head-basic">
        <header>
            <h1 class="border-gradient" id="box">
                Calculadora HIDREO <br> Básica
            </h1>
        </header>
    </section>

    <hr size="2" width="100%">

    <section class="calculadora-basica">

        <div class="text-label">
            <h1 class="label"> Insira os dados abaixo para iniciar os cálculos</h1>
        </div>

        <div>
            <h3>Entre com o valor de Desnível</h3>
            <input class="input1" type="number" id="valor" size="4" />
        </div>

        <div>
            <h3>Entre com o valor de Vazão</h3>
            <input class="input2" type="number" id="valor" size="4" />
        </div>



        <div>
            <h3>Qual o seu nome?</h3>
            <input class="input3" type="text" id="valor" size="20" />
        </div>

        <hr size="2" width="100%">

        <div>
            <button class="butao" type="submit" onclick="calculate() "> Calcular </button>
        </div>

        <div>
            <h2 id="É possível obtetr "></h2>
        </div>


    </section>

    {% include 'partials/_footer.html' %}
{% endblock %}
</body>

</html>
